In [1]:
import pandas as pd
from pathlib import Path

BASE_DIR = Path("..")
ORIGINAL_DATA_DIR = BASE_DIR / "original_data"
CLEAN_DATA_DIR = BASE_DIR / "clean_data"
FILE_PATH = ORIGINAL_DATA_DIR / "cruz_list.csv"
TARGET_PATH = CLEAN_DATA_DIR / "cruz_list.csv"
data = pd.read_csv(FILE_PATH,sep=";")

In [2]:
def describe_dataset(df):
    summary = []
    for col in df.columns:
        col_data = df[col]
        summary.append({
            'Column': col,
            'Type': col_data.dtype,
            'Nulls': col_data.isnull().sum(),
            'Null %': round(col_data.isnull().mean() * 100, 2),
            'Unique': col_data.nunique(dropna=True),
            'Min': col_data.min() if pd.api.types.is_numeric_dtype(col_data) else None,
            'Max': col_data.max() if pd.api.types.is_numeric_dtype(col_data) else None,
            'Mean': round(col_data.mean(), 3) if pd.api.types.is_numeric_dtype(col_data) else None,
            'Std': round(col_data.std(), 3) if pd.api.types.is_numeric_dtype(col_data) else None,
            'Example values': col_data.dropna().unique()[:3].tolist()  # first 3 unique examples
        })
    
    summary_df = pd.DataFrame(summary)
    return summary_df

,Column,Type,Nulls,Null %,Unique,Min,Max,Mean,Std,Example values
0,grant_number,int64,0,0.0,1041,2011780,2520318,2266765.392,114388.845,"[2011780, 2027519, 2034824]"
1,in_cruz_list,bool,0,0.0,2,False,True,0.451,0.498,"[False, True]"

In [4]:
data.to_csv(TARGET_PATH, index=False)